body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
}
@media (max-width: 1200px) {
  .title {
    font-size: 25px;
  }
}

.landing-page .slick-dots,
.nos-conseils .slick-dots {
  left: 50%;
  transform: translateX(-50%);
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
@media (max-width: 768px) {
  .landing-page .slick-dots li,
  .nos-conseils .slick-dots li {
    width: 10px;
    height: 10px;
  }
}
.landing-page .slick-dots li button::before,
.nos-conseils .slick-dots li button::before {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  content: "";
}
@media (max-width: 768px) {
  .landing-page .slick-dots li button::before,
  .nos-conseils .slick-dots li button::before {
    width: 10px;
    height: 10px;
  }
}
.landing-page .slick-dots li.slick-active button:before,
.nos-conseils .slick-dots li.slick-active button:before {
  background-color: #0078A5;
}

.best-seller .slick-next,
.best-seller .slick-prev,
.nos-conseils .slick-next,
.nos-conseils .slick-prev {
  height: 10px;
  width: 23px;
  transform: translate(0, -100%);
  padding: none;
}
.best-seller .slick-next::before,
.best-seller .slick-prev::before,
.nos-conseils .slick-next::before,
.nos-conseils .slick-prev::before {
  color: #0078A5;
  font-size: 60px;
}
@media (max-width: 992px) {
  .best-seller .slick-next::before,
  .best-seller .slick-prev::before,
  .nos-conseils .slick-next::before,
  .nos-conseils .slick-prev::before {
    font-size: 35px;
  }
}

.cnt-h,
.cnt {
  margin: 0 auto;
}
@media (max-width: 1920px) {
  .cnt-h,
  .cnt {
    width: 84.5833333%;
  }
}
@media (max-width: 1400px) {
  .cnt-h,
  .cnt {
    width: 1140px;
  }
}
@media (max-width: 1200px) {
  .cnt-h,
  .cnt {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .cnt-h,
  .cnt {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .cnt-h,
  .cnt {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .cnt-h,
  .cnt {
    width: 100%;
    padding: 0 10px;
  }
}

.cnt {
  height: 100%;
  box-shadow: 3px 0 20px -10px #999, -3px 0 20px -10px #999;
}

header {
  position: fixed;
  top: 0;
  height: 156px;
  padding-top: 23px;
  width: 100%;
  background-color: white;
  z-index: 300;
}
header.header-h {
  height: 70px;
  padding-top: 0;
}
header .icons {
  padding-top: 7px;
}
header .icons a {
  color: black;
  margin-right: 22px;
  font-size: 15px;
}
header .icons a:last-child {
  margin-right: 0px;
}
header .icons a .cart-shopping {
  position: relative;
}
header .icons a .cart-shopping::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  font-size: 10px;
  top: -3px;
  right: -3px;
  content: "2";
  color: white;
  background-color: #0078A5;
  border-radius: 50%;
}
header .top-nav {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
  transition: 2s display;
}
header .top-nav .logo img {
  height: 50.3px;
}
header .top-nav .search {
  position: relative;
  left: -28px;
}
header .top-nav .search i {
  position: absolute;
  right: 15px;
  top: 50%;
  font-size: 20px;
  transform: translateY(-50%);
  color: #0078A5;
}
header .top-nav .search input[type=text] {
  height: 36px;
  width: 557px;
  border: 1px solid #0078A5;
  color: #0078A5;
  font-size: 15px;
  outline: none;
}
header .top-nav .search input[type=text] ::-moz-placeholder {
  opacity: 50%;
}
header .top-nav .search input[type=text] ::placeholder {
  opacity: 50%;
}
header nav .logo img {
  height: 35px;
}
@media (max-width: 992px) {
  header nav .navbar-collapse {
    margin-top: 22px;
  }
}
@media (min-width: 992px) {
  header nav .navbar-collapse .dropdown-menu {
    margin-top: 15px;
  }
}
header nav .navbar-nav {
  padding: 13px 0;
  background-color: white;
}
header nav .navbar-nav li {
  margin: 0 29px;
}
@media (max-width: 1200px) {
  header nav .navbar-nav li {
    margin: 0 10px;
  }
}
@media (max-width: 992px) {
  header nav .navbar-nav li {
    margin: 10px 0;
    padding-left: 5px;
  }
}
header nav .navbar-nav a {
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
header nav .navbar-nav a:hover {
  color: #0078A5;
}

.landing-page {
  margin-top: 157px;
}
@media (max-width: 1200px) {
  .landing-page {
    margin-top: 69px;
  }
}
.landing-page section.section {
  background: transparent;
}
.landing-page section.section .slideshow .slide img {
  max-width: 100%;
  width: 100%;
}
.landing-page section.section .slideshow .slick-prev,
.landing-page section.section .slideshow .slick-next {
  height: 40px;
  z-index: 2;
}
.landing-page section.section .slideshow .slick-prev::before,
.landing-page section.section .slideshow .slick-next::before {
  color: #C6D8EB;
  font-size: 60px;
}
@media (max-width: 768px) {
  .landing-page section.section .slideshow .slick-prev::before,
  .landing-page section.section .slideshow .slick-next::before {
    font-size: 30px;
  }
}
.landing-page section.section .slideshow .slick-prev {
  left: 9px;
}
.landing-page section.section .slideshow .slick-next {
  right: 48px;
}
@media (max-width: 768px) {
  .landing-page section.section .slideshow .slick-next {
    right: 30px;
  }
}
.landing-page section.section .slideshow .slick-dots {
  bottom: 7px;
}
.landing-page section.section .slideshow .slick-dots li button::before {
  border: 1px solid white;
}

.best-seller {
  margin: 0 auto;
  margin-top: 83px;
  width: 91%;
  /* The width of each slide */
  /* Color of the arrows */
}
.best-seller .slick-carousel {
  margin-top: 20px;
  padding-bottom: 22px;
}
.best-seller .slick-carousel::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 26%;
  height: 3px;
  transform: translateY(50%);
  background-color: #0078A5;
}
.best-seller .slick-slide .box {
  width: 258px;
  margin: 0 auto;
  height: 381px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .best-seller .slick-slide .box {
    width: 160px;
    height: 280px;
  }
}
.best-seller .slick-slide .box img {
  transition: height 0.3s;
}
.best-seller .slick-slide .box .infos .price {
  text-align: center;
  color: #F98D00;
}
.best-seller .slick-slide .box .infos .price .integer {
  font-size: 1.8rem;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .best-seller .slick-slide .box .infos .price .integer {
    font-size: 20px;
  }
}
.best-seller .slick-slide .box .infos .price .decimal {
  font-size: 1.2rem;
}
@media (max-width: 1200px) {
  .best-seller .slick-slide .box .infos .price .decimal {
    font-size: 16px;
  }
}
.best-seller .slick-slide .box .infos {
  height: 210px;
}
@media (max-width: 1200px) {
  .best-seller .slick-slide .box .infos {
    font-size: 12px;
    height: 150px;
  }
}
.best-seller .slick-slide .box .infos span:last-child {
  font-size: 14px;
  color: #212121;
}
@media (max-width: 1200px) {
  .best-seller .slick-slide .box .infos span:last-child {
    font-size: 12px;
  }
}
.best-seller .slick-slide .box:hover img {
  height: 100px;
  margin: 0 auto;
}
.best-seller .slick-slide .box:hover .test {
  box-shadow: inset -0.25rem 0 0.25rem -0.25rem rgba(0, 0, 0, 0.075), inset 0.25rem 0 0.25rem -0.25rem rgba(0, 0, 0, 0.075);
}
.best-seller .slick-slide .box:hover .infos {
  height: 153px;
}
@media (max-width: 1200px) {
  .best-seller .slick-slide .box:hover .infos {
    height: 87px;
  }
}
.best-seller .slick-slide .box button {
  height: 57px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  background-color: #0078A5;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 1200px) {
  .best-seller .slick-slide .box button {
    height: 40px;
    font-size: 12px;
  }
}
.best-seller .slick-next {
  right: -40px;
  height: 33px;
}
@media (max-width: 1400px) {
  .best-seller .slick-next {
    right: 18px;
  }
}
@media (max-width: 1200px) {
  .best-seller .slick-next {
    right: -20px;
  }
}
.best-seller .slick-prev::before {
  display: none;
}

.nos-conseils {
  width: 91%;
  margin: 0 auto;
  margin-top: 100px;
}
@media (min-width: 1919px) {
  .nos-conseils .slick-slide {
    width: 480px !important;
    margin-right: 9px;
  }
}
.nos-conseils .title {
  margin-bottom: 30px;
}
.nos-conseils .slick-slide img {
  width: 100%;
}
.nos-conseils .box {
  margin: 0 5px;
  position: relative;
  height: 333px;
}
.nos-conseils .box::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0078A5);
  z-index: 2;
}
.nos-conseils .box .infos {
  position: absolute;
  top: 60%;
  left: 5px;
  z-index: 3;
}
.nos-conseils .box .infos h4 {
  font-weight: bold;
  font-size: 31px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .nos-conseils .box .infos h4 {
    font-size: 24px;
  }
}
.nos-conseils .box .infos span:last-child {
  line-height: 20px;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.nos-conseils .slick-dots {
  bottom: -49px;
}
.nos-conseils .slick-dots li button::before {
  border: 1px solid #0078A5;
}
.nos-conseils .slick-dots li.slick-active button:before {
  background-color: #0078A5;
}
.nos-conseils .slick-next {
  right: -40px;
}
@media (max-width: 1400px) {
  .nos-conseils .slick-next {
    right: -18px;
  }
}
@media (max-width: 992px) {
  .nos-conseils .slick-next {
    right: -20px;
  }
}
.nos-conseils .slick-prev {
  left: -75px;
}
@media (max-width: 1400px) {
  .nos-conseils .slick-prev {
    left: -53px;
  }
}
@media (max-width: 992px) {
  .nos-conseils .slick-prev {
    left: -35px;
  }
}

.contact {
  width: 91%;
  margin: 0 auto;
  margin-top: 138px;
}
.contact .box {
  position: relative;
}
.contact .box::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0078A5);
  z-index: 10;
}
.contact .box .content {
  position: absolute;
  left: 0;
  top: 52%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  z-index: 12;
  color: rgb(255, 255, 255);
  transform: translateY(-25%);
  height: auto;
}
@media (max-width: 1400px) {
  .contact .box .content {
    top: 27%;
  }
}
@media (max-width: 992px) {
  .contact .box .content {
    top: 52%;
  }
}
@media (max-width: 992px) {
  .contact .box .content {
    top: 40%;
  }
}
@media (max-width: 576px) {
  .contact .box .content {
    top: 28%;
  }
}
.contact .box .content .text {
  padding: 0 40px;
}
@media (max-width: 576px) {
  .contact .box .content .text {
    padding: 0 0;
  }
}
.contact .box .content h2 {
  white-space: nowrap;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  text-transform: uppercase;
}
@media (max-width: 1920px) {
  .contact .box .content h2 {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .contact .box .content h2 {
    font-size: 20px;
  }
}
.contact .box .content span {
  font-size: 18px;
  display: block;
}
@media (max-width: 1920px) {
  .contact .box .content span {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .contact .box .content span {
    font-size: 14px;
  }
}
.contact .box .content input {
  background-color: transparent;
  border: 1px solid white;
  height: 45.7px;
  width: 562px;
  margin: 26px auto;
}
@media (max-width: 1920px) {
  .contact .box .content input {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .contact .box .content input {
    font-size: 14px;
    margin: 10px auto;
  }
}
.contact .box .content input::-moz-placeholder {
  color: #CFCFCF;
}
.contact .box .content input::placeholder {
  color: #CFCFCF;
}
.contact .box .content button {
  background-color: #3AC9FF;
  color: white;
  width: 155px;
  height: 45.7px;
}

.nos-partenaires {
  width: 91%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.nos-partenaires .title {
  margin-bottom: 43px;
}
.nos-partenaires button {
  background-color: #0078A5;
  color: white;
  font-size: 20px;
  height: 56px;
  width: 285px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .nos-partenaires button {
    width: 200px;
    height: 40px;
    font-size: 14px;
  }
}

.info {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #F3FCFF);
  border-top: 1px solid;
  width: 91%;
  margin: 0 auto;
  margin-top: 67px;
  padding-top: 70px;
}
.info .text h3 {
  font-size: 23px;
  text-transform: uppercase;
  line-height: 32px;
  color: #0078A5;
  font-weight: 900;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .info .text h3 {
    font-size: 20px;
  }
}
.info p {
  font-size: 18px;
  line-height: 32px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 576px) {
  .info p {
    font-size: 16px;
    line-height: 24px;
  }
}
.info img {
  max-width: 689px;
  margin-left: 20px;
}

.avantages {
  width: 91%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 48px;
}
.avantages .row {
  padding-top: 25px;
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .avantages .row {
    width: auto;
  }
}
.avantages h2 {
  font-weight: bolder;
  font-size: 28px;
  margin: 0 auto;
  padding-bottom: 2px;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 6px solid #0078A5;
  text-transform: uppercase;
}
.avantages .box {
  margin-top: 0;
}
@media (max-width: 992px) {
  .avantages .box {
    margin-top: 10px;
  }
}
.avantages .box .img {
  height: 87px;
  position: relative;
  margin-bottom: 15px;
}
.avantages .box .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avantages .box h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}
.avantages .box span {
  font-size: 13px;
  line-height: 18px;
}

.contact-nous .content {
  height: 200px;
  color: #0078A5;
  background-image: url("../imgs/Groupe169.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}
.contact-nous .content .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
}
.contact-nous .content .text h1 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .contact-nous .content .text h1 {
    font-size: 24px;
  }
}
.contact-nous .content .text button {
  color: #0078A5;
  text-transform: uppercase;
  border-color: #0078A5;
  width: 457px;
  height: 45px;
  font-size: 20px;
  font-weight: bolder;
  color: #0078A5;
}
@media (max-width: 768px) {
  .contact-nous .content .text button {
    width: 350px;
    font-size: 16px;
  }
}

footer {
  background-color: #0078A5;
  color: white;
  padding-top: 70px;
  font-family: Poppins;
}
footer .content {
  width: 75%;
  margin: 0 auto;
}
footer h6 {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  footer h6 {
    font-size: 20px;
  }
}
footer a {
  color: white;
  font-size: 1rem;
  line-height: 27px;
}
@media (max-width: 992px) {
  footer a {
    font-size: 14px;
    line-height: 20px;
  }
}
footer a:hover {
  color: black;
}
footer .icons {
  margin-top: 45px;
  margin-bottom: 11px;
  position: relative;
  right: 177px;
}
@media (max-width: 992px) {
  footer .icons {
    width: 350px;
    right: 0;
  }
}
footer .icons img {
  margin-left: 10px;
}
footer .copyright {
  border-top: 1px solid rgba(225, 225, 225, 0.2);
  padding: 15px 0;
}/*# sourceMappingURL=style.css.map */